<div class="card md:mx-8 mb-2">
  <form [formGroup]="form" class="card-container">
    <p-panel
      header="Los hechos de Soborno Internacional pueden ser cometidos por personas jurídicas colombianas o sucursales en Colombia de personas jurídicas extranjeras."
    >
      <div class="grid p-fluid">
        <div class="field col-12">
          <label for="sabePersonaJuridica"
            >1. ¿Sabe usted el nombre de la persona jurídica involucrada que
            podría haber cometido hechos de Soborno Internacional?</label
          >
          <div class="field-radiobutton">
            <p-radioButton
              name="sabePersonaJuridica"
              value="No"
              formControlName="sabePersonaJuridica"
              inputId="answer1Question1"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'nombrePersonaJuridica')
              "
            ></p-radioButton>
            <label for="answer1Question1">No</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="sabePersonaJuridica"
              value="Si"
              formControlName="sabePersonaJuridica"
              inputId="answer2Question1"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'nombrePersonaJuridica')
              "
            ></p-radioButton>
            <label for="answer2Question1">Si</label>
          </div>
        </div>
        <div
          class="field col-12"
          *ngIf="form.controls['sabePersonaJuridica'].value === 'Si'"
        >
          <label for="nombrePersonaJuridica"
            >Por favor indique el nombre completo de la persona jurídica que
            podría estar involucrada en hechos de Soborno Internacional: <small class="p-error">*</small></label
          >
          <input
            type="text"
            pInputText
            formControlName="nombrePersonaJuridica"
          />
          <small
            *ngIf="
              form.controls['nombrePersonaJuridica'].hasError('required') &&
              (form.controls['nombrePersonaJuridica'].dirty ||
                form.controls['nombrePersonaJuridica'].touched)
            "
            class="p-error block"
            >El campo nombre persona jurídica es requerido.</small
          >
        </div>
      </div>
    </p-panel>
    <p-panel
      header="Debido a que el Soborno Internacional implica que haya un ofrecimiento, promesa o pago de dinero o beneficios de cualquier tipo a un funcionario público de un país diferente a Colombia, es necesario saber el país en que éste trabaja."
    >
      <div class="grid p-fluid">
        <div class="field col-12">
          <label for="paisHechos"
            >2. Por favor indique el país de los funcionarios públicos
            extranjeros posiblemente involucrados en hechos de Soborno
            Internacional. Seleccione un país:</label
          >
          <span class="p-float-label mt-3">
            <p-dropdown
              [options]="paises"
              [autoDisplayFirst]="false"
              [showClear]="true"
              [filter]="true"
              optionLabel="nombre"
              optionValue="idPais"
              formControlName="paisHechos"
              emptyFilterMessage="No se encontró ningún resultado"
              inputId="pais"
            ></p-dropdown>
            <label for="pais">País</label>
          </span>
          <small
            *ngIf="
              form.controls['paisHechos'].hasError('required') &&
              (form.controls['paisHechos'].dirty ||
                form.controls['paisHechos'].touched)
            "
            class="p-error block"
            >El campo país es requerido.</small
          >
        </div>
        <div class="field col-12">
          <label for="nombreEntidadExtranjera"
            >3. ¿Sabe usted con cual Entidad Pública extranjera (esto incluye
            organismos de la rama judicial, legislativa o ejecutiva, empresas
            estatales o con participación de capital público) están vinculados
            los funcionarios? <small class="p-error">*</small></label
          >
          <input
            type="text"
            pInputText
            formControlName="nombreEntidadExtranjera"
            inputId="nombreEntidadExtranjera"
          />
          <small
            *ngIf="
              form.controls['nombreEntidadExtranjera'].hasError('required') &&
              (form.controls['nombreEntidadExtranjera'].dirty ||
                form.controls['nombreEntidadExtranjera'].touched)
            "
            class="p-error block"
            >El campo nombre entidad extranjera es requerido.</small
          >
        </div>
        <div class="field col-12">
          <label for="sabeNombreFuncionarios"
            >4. ¿Sabe usted el nombre y los cargos de los funcionarios públicos
            extranjeros que podrían estar involucrados?</label
          >
          <div class="field-radiobutton">
            <p-radioButton
              name="sabeNombreFuncionarios"
              value="No"
              formControlName="sabeNombreFuncionarios"
              inputId="answer1Question4"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'nombreFuncionarios')
              "
            ></p-radioButton>
            <label for="answer1Question4">No</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="sabeNombreFuncionarios"
              value="Si"
              formControlName="sabeNombreFuncionarios"
              inputId="answer2Question4"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'nombreFuncionarios')
              "
            ></p-radioButton>
            <label for="answer2Question4">Si</label>
          </div>
          <div
            class="field col-12"
            *ngIf="form.controls['sabeNombreFuncionarios'].value === 'Si'"
          >
            <label for="nombreFuncionarios"
              >Por favor indique el nombre y cargo de esas personas: <small class="p-error">*</small></label
            >
            <input
              type="text"
              pInputText
              formControlName="nombreFuncionarios"
            />
            <small
              *ngIf="
                form.controls['nombreFuncionarios'].hasError('required') &&
                (form.controls['nombreFuncionarios'].dirty ||
                  form.controls['nombreFuncionarios'].touched)
              "
              class="p-error block"
              >El campo nombre y cargo funcionarios públicos es
              requerido.</small
            >
          </div>
        </div>
        <div class="field col-12">
          <label for="sabeFechasHechos"
            >5. ¿Tiene usted información acerca de las fechas en las que
            pudieran haber ocurrido los hechos?</label
          >
          <div class="field-radiobutton">
            <p-radioButton
              name="sabeFechasHechos"
              value="No"
              formControlName="sabeFechasHechos"
              inputId="answer1Question5"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'fechasHechos')
              "
            ></p-radioButton>
            <label for="answer1Question5">No</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="sabeFechasHechos"
              value="Si"
              formControlName="sabeFechasHechos"
              inputId="answer2Question5"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'fechasHechos')
              "
            ></p-radioButton>
            <label for="answer2Question5">Si</label>
          </div>
        </div>
        <div
          class="field col-12"
          *ngIf="form.controls['sabeFechasHechos'].value === 'Si'"
        >
          <label for="fechasHechos"
            >Por favor indique las fechas en que posiblemente ocurrieron los
            hechos: <small class="p-error">*</small></label
          >
          <input type="text" pInputText formControlName="fechasHechos" />
          <small
            *ngIf="
              form.controls['fechasHechos'].hasError('required') &&
              (form.controls['fechasHechos'].dirty ||
                form.controls['fechasHechos'].touched)
            "
            class="p-error block"
            >El campo fechas de los hechos es requerido.</small
          >
        </div>
      </div>
    </p-panel>
    <p-panel
      header="La responsabilidad de personas jurídicas colombianas o sucursales en Colombia de personas jurídicas extranjeras por hechos de Soborno Internacional puede depender de actos realizados por sus administradores, socios, empleados o contratistas."
    >
      <div class="grid p-fluid">
        <div class="field col-12">
          <label for="sabePersonasOfrecieron"
            >6. ¿Tiene información de las personas que pudieron haber realizado
            pagos, prometido u ofrecido beneficios a un funcionario público
            extranjero a nombre de la persona jurídica?</label
          >
          <div class="field-radiobutton">
            <p-radioButton
              name="sabePersonasOfrecieron"
              value="No"
              formControlName="sabePersonasOfrecieron"
              inputId="answer1Question6"
              (ngModelChange)="
                handleChangeAnswerRadioButton(
                  $event,
                  'nombrePersonasOfrecieron'
                )
              "
            ></p-radioButton>
            <label for="answer1Question6">No</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="sabePersonasOfrecieron"
              value="Si"
              formControlName="sabePersonasOfrecieron"
              inputId="answer2Question6"
              (ngModelChange)="
                handleChangeAnswerRadioButton(
                  $event,
                  'nombrePersonasOfrecieron'
                )
              "
            ></p-radioButton>
            <label for="answer2Question6">Si</label>
          </div>
          <div
            class="field col-12"
            *ngIf="form.controls['sabePersonasOfrecieron'].value === 'Si'"
          >
            <label for="nombrePersonasOfrecieron"
              >Por favor indique el nombre completo de la persona jurídica que
              podría estar involucrada en hechos de Soborno
              Internacional: <small class="p-error">*</small></label
            >
            <input
              type="text"
              pInputText
              formControlName="nombrePersonasOfrecieron"
            />
            <small
              *ngIf="
                form.controls['nombrePersonasOfrecieron'].hasError(
                  'required'
                ) &&
                (form.controls['nombrePersonasOfrecieron'].dirty ||
                  form.controls['nombrePersonasOfrecieron'].touched)
              "
              class="p-error block"
              >El campo nombres personas ofrecimiento es requerido.</small
            >
          </div>
        </div>
        <div class="field col-12">
          <label for=""
            >7. En el siguiente espacio puede realizar una descripción de los
            hechos que podrían ser útiles para determinar si se debe iniciar una
            actuación administrativa: <small class="p-error">*</small></label
          >
          <textarea
            id="hechos"
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="hechos"
          ></textarea>
          <small
            *ngIf="
              form.controls['hechos'].hasError('required') &&
              (form.controls['hechos'].dirty || form.controls['hechos'].touched)
            "
            class="p-error block"
            >El campo hechos es requerido.</small
          >
        </div>
        <div class="field col-12">
          <label for=""
            >8. ¿Desea aportar documentos con esta solicitud? (0b de 2Mb)</label
          >
          <div class="container-input-file justify-content-start">
            <input type="file" id="file-input-principal" accept="application/pdf" (change)="onSelectAttachment($event)" />
            <label for="file-input-principal"><i class="pi pi-upload"></i> &nbsp; Seleccionar archivo</label>
          </div>
        </div>
        <div class="field col-12">
          <label for="sabeOtraAutoridad"
            >9. ¿Esta información ha sido puesta en conocimiento de otra
            autoridad?</label
          >
          <div class="field-radiobutton">
            <p-radioButton
              name="sabeOtraAutoridad"
              value="No"
              formControlName="sabeOtraAutoridad"
              inputId="answer1Question9"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'nombreOtraAutoridad')
              "
            ></p-radioButton>
            <label for="answer1Question9">No</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="sabeOtraAutoridad"
              value="Si"
              formControlName="sabeOtraAutoridad"
              inputId="answer2Question9"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, 'nombreOtraAutoridad')
              "
            ></p-radioButton>
            <label for="answer2Question9">Si</label>
          </div>
        </div>
        <div
          class="field col-12"
          *ngIf="form.controls['sabeOtraAutoridad'].value === 'Si'"
        >
          <label for="nombreOtraAutoridad"
            >Por favor indique el nombre de la autoridad: <small class="p-error">*</small></label
          >
          <input type="text" pInputText formControlName="nombreOtraAutoridad" />
          <small
            *ngIf="
              form.controls['nombreOtraAutoridad'].hasError('required') &&
              (form.controls['nombreOtraAutoridad'].dirty ||
                form.controls['nombreOtraAutoridad'].touched)
            "
            class="p-error block"
            >El campo nombre de la autoridad es requerido.</small
          >
        </div>
        <div class="field col-12">
          <label for="interesContacto"
            >10. ¿Está interesado en que la Superintendencia de Sociedades se
            ponga en contacto con usted en caso de requerir mayor
            información?</label
          >
          <div class="field-radiobutton">
            <p-radioButton
              name="interesContacto"
              value="No"
              formControlName="interesContacto"
              inputId="answer1Question10"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, [
                  'correoElectronico',
                  'numeroTelefono'
                ])
              "
            ></p-radioButton>
            <label for="answer1Question10">No</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              name="interesContacto"
              value="Si"
              formControlName="interesContacto"
              inputId="answer2Question10"
              (ngModelChange)="
                handleChangeAnswerRadioButton($event, [
                  'correoElectronico',
                  'numeroTelefono'
                ])
              "
            ></p-radioButton>
            <label for="answer2Question10">Si</label>
          </div>
        </div>
        <div
          class="field col-12"
          *ngIf="form.controls['interesContacto'].value === 'Si'"
        >
          <label for="correoElectronico"
            >Por favor indique un correo electrónico de contacto: <small class="p-error">*</small></label
          >
          <input type="text" pInputText formControlName="correoElectronico" />
          <small
            *ngIf="
              form.controls['correoElectronico'].hasError('required') &&
              (form.controls['correoElectronico'].dirty ||
                form.controls['correoElectronico'].touched)
            "
            class="p-error block"
            >El campo correo electrónico es requerido.</small
          >
        </div>
        <div
          class="field col-12"
          *ngIf="form.controls['interesContacto'].value === 'Si'"
        >
          <label for="numeroTelefono"
            >Por favor indique un número telefónico de contacto: <small class="p-error">*</small></label
          >
          <input type="text" pInputText formControlName="numeroTelefono" />
          <small
            *ngIf="
              form.controls['numeroTelefono'].hasError('required') &&
              (form.controls['numeroTelefono'].dirty ||
                form.controls['numeroTelefono'].touched)
            "
            class="p-error block"
            >El campo número de teléfono es requerido.</small
          >
        </div>
      </div>
    </p-panel>
    <div class="field col-12">
      <p-button [disabled]="this.form.invalid" label="Enviar"></p-button>
    </div>
  </form>
</div>
