<app-nav-bar class="mb-5"></app-nav-bar>
<div class="body">
  <div class="grid p-fluid card-container">
    <div class="field col-12">
      <p style="color: #004884;">
        Formulario Único de Radicación de Trámites
        <span class="p-error">*</span>
      </p>
    </div>
    <div class="field col-12">
      <label for="procedureDropdown" style="color: #93bbf3 ;">Trámite</label>
        <p-dropdown
          [options]="datos"
          [autoDisplayFirst]="false"
          [showClear]="true"
          [filter]="true"
          [(ngModel)]="procedure"
          optionLabel="nombreAmigable"
          emptyFilterMessage="No se encontró ningún resultado."
          inputId="procedureDropdown"
        >
        </p-dropdown>
    </div>
  </div>
</div>
<app-form-furt
  *ngIf="procedure?.proceso?.nombre === 'QUEJAS'"
  [procedure]="procedure"
></app-form-furt>
<app-form-soborno-int
  *ngIf="procedure?.proceso?.nombre === 'PLANEACIÓN INSTITUCIONAL'"
></app-form-soborno-int>

<app-footer class="mt-auto"></app-footer>
