<div class="card card-footer text-white p-0">
  <div class="flex flex-column justify-content-around sm:flex-row">
    <div
      class="flex flex-column flex-wrap justify-content-center align-content-center align-items-stretch"
    >
      <a href="" id="logo-src-gov-footer"></a>
      <div class="flex justify-content-center">
        <a href="" id="logo-src-col-footer"></a>
      </div>
    </div>

    <p-divider [layout]="positionDivide"></p-divider>

    <div class="flex flex-column justify-content-center">
      <h3>Superintendencia de Sociedades</h3>
      <p class="text-xs">
        Dirección Avenida El Dorado No. 51-80 / Bogotá - Colombia Horario de
        atención al público: Lunes a Viernes de 8:00am a 5:00pm
      </p>
      <div class="app-footer-logos-social">
        <div class="app-footer__logo">
            <a id="Btntwitter" class="logo-twitter" href="https://twitter.com/SSociedades"></a><span>
                <a class="color" id="Btntwitter2" href="https://twitter.com/SSociedades">Twitter</a>
            </span>
        </div><div class="app-footer__logo">
            <a id="Btninstagram" class="logo-instagram" href="https://www.instagram.com/ssociedades/"></a><span>
                <a class="color" id="Btninstagram2" href="https://www.instagram.com/ssociedades/">Instagram</a>
            </span>
        </div><div class="app-footer__logo">
            <a id="Btnfacebook" class="logo-facebook" href="https://www.facebook.com/SSociedades/"></a><span>
                <a class="color" id="Btnfacebook2" href="https://www.facebook.com/SSociedades/">Facebook</a>
            </span>
        </div>
    </div>
    </div>

    <p-divider [layout]="positionDivide"></p-divider>

    <div class="flex flex-column justify-content-center">
      <div class="text-center mb-2">
        <h3><i class="pi pi-phone pr-3"></i>Contato</h3>
      </div>
      <div class="flex flex-wrap flex-column text-xs">
        <p>Teléfono conmutador: 324 57 77 - 220 10 00</p>
        <p>Centro de Fax 220 10 000, opción 2</p>
        <p>Línea de atención al usuario:018000114319</p>
        <p>Correo institucional: webmaster@supersociedades.gov.co</p>
        <p>
          Correo de notificaciones judiciales:
          notificacionesjudiciales@supersociedades.gov.co
        </p>
      </div>
    </div>
  </div>
</div>
