
.body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 50%;
  width: 800px;
}

.titulos{
  font-family: Montserrat,sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #004884;
  line-height: 1.5 !important;
  text-align: left;
  font-size: 20px;
}

.texto{
  color: #0b7dda;
  font-family: "Work Sans",sans-serif;
  font-size: 10px;
}

.botones{
  text-align: right;
  margin-top: 2%;
}

.cancelar {
  border: none;
  background-color: #f7f8fa;
  padding: 14px 28px;
  border-radius: 5px;
  text-align: center;
}
.guardar {
  margin-left: 20px;
  border: none;
  background-color: #007bff;
  padding: 14px 28px;
  border-radius: 5px;

}
hover {
  background: #0b7dda;
}

.header {
  color: #004884;
  position: fixed;
  text-align: center;

}

.scrollable-content {
  margin-top: 60px;
  height: 380px;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto; /* Cambia 'scroll' a 'auto' */
}
