<div>
  <input
    class="p-checkbox"
    type="checkbox"
    (click)="showDialogTermCond($event)"
    [checked]="valueCheckBox"
    id="checkboxTermCond"
  />
  <label class="p-checkbox-label" for="checkboxTermCond"
    >Autorizo a la Superintendencia de Sociedades para el uso de mis datos
    personales según los términos y condiciones disponibles Aquí</label
  >
</div>
<p-confirmDialog #cd header="Términos & Condiciones" [breakpoints]="{'960px': '90vw'}" [style]="{ width: '75vw' }">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="De Acuerdo" (click)="cd.accept()" [disabled]="!enabledButtonConfirm"></button>
</ng-template>
</p-confirmDialog>
