<div>
<div class="scrollable-content">
  <div class="body custom-scroll terms-body">
  <h1 class="titulos">Términos & Condiciones</h1>
  <div>
    <h2 class="titulos">
      TERMINOS Y CONDICIONES DE USO PARA LA NOTIFICACIÓN DE LOS ACTOS
      ADMINISTRATIVOS A TRAVÉS DE MEDIOS ELECTRÓNICOS
    </h2>
    <br>
    <div>
      <p style="text-align: justify" class="texto">
        El artículo 56 del Código de Procedimiento Administrativo y de lo
        Contencioso Administrativo establece la posibilidad de notificar los
        actos a través de medios electrónicos, siempre que el administrado haya
        aceptado este medio de notificación. Con el mencionado Código surge la
        obligatoriedad de contar con una sede electrónica, como una especie de
        oficina virtual, que sirva como sistema de información al igual que un
        medio de comunicación con los particulares, garantizando condiciones de
        calidad seguridad, disponibilidad, accesibilidad, neutralidad e
        interoperabilidad de la información. Derivado de lo anterior, la
        Superintendencia de Sociedades habilitará las notificaciones a través de
        correo electrónico certificado, de los actos administrativos de carácter
        particular. El uso de este medio está condicionado a la aceptación de
        los siguientes términos y condiciones. Si no está de acuerdo con alguno
        de sus detalles, no deberá aceptarlo.
      </p>
    </div>
    <div>
      <h3 class="titulos">PRIMERO. De la Notificación Electrónica</h3>
      <p style="text-align: justify" class="texto">
        Se podrán notificar de manera electrónica los actos administrativos
        proferidos por las diferentes dependencias de la entidad que actúan en
        uso de las facultades administrativas, siempre que el administrado haya
        aceptado este medio de notificación. Para el efecto, la entidad ha
        escogido como medio, el correo electrónico certificado. (Certim@il) La
        notificación quedará surtida a partir de la fecha y hora en que el
        administrado tenga acceso al acto administrativo, es decir, que el mismo
        quede disponible en la bandeja de entrada del correo electrónico
        informado por el usuario. Para el efecto, dadas las características del
        correo electrónico certificado, la entidad registrará la fecha y hora
        reportada en la confirmación de entrega del mensaje de datos, a través
        del cual se dispuso el acto en su buzón de correo electrónico. La
        notificación que por este medio se efectúe tiene los mismos efectos de
        la que se realiza en forma personal por el funcionario competente. El
        texto de la comunicación mediante la cual se remita el acto
        administrativo que se va a notificar por vía electrónica debe indicar el
        nombre y cargo del funcionario competente, el del interesado, los
        recursos pertinentes y la fecha de expedición del mensaje de datos. El
        acuse de recibo del mensaje con la fecha en que se entiende notificado
        el acto tendrá el soporte respectivo.
      </p>
    </div>
    <div>
      <h3 class="titulos">SEGUNDO. Del servicio de notificación Electrónica</h3>
      <p style="text-align: justify" class="texto">
        Conforme a lo expuesto en el numeral anterior, la Superintendencia de
        Sociedades enviará una comunicación mediante la cual se remite el acto
        administrativo que se va a notificar por vía electrónica, el cual
        indicará el nombre y cargo del funcionario competente, el del
        interesado, los recursos pertinentes y la fecha de expedición del
        mensaje de datos, adjuntando el acto administrativo en formato PDF. La
        entidad podrá disponer dentro del mensaje de datos, alternativas de
        acceso a los contenidos que se pretendan notificar, mediante un vínculo
        directo a la ubicación de las providencias respectivas en el sitio WEB,
        con el objeto de que el interesado pueda acceder a estas. Los términos
        de interposición de los recursos y los de ejecutoria empezarán a contar
        desde el día siguiente a la notificación electrónica, es decir, desde el
        día siguiente a que el mensaje de datos haya sido dispuesto en la
        bandeja de entrada del correo electrónico del usuario. Habida cuenta de
        que la dirección suministrada por el interesado se presume propia, el
        usuario se obliga a utilizarla directamente y no podrá alegar en ningún
        caso, desconocimiento de los actos notificados por operaciones en el
        buzón delegadas en terceros.
      </p>
    </div>
      <div>
        <h3 class="titulos">TERCERO. Obligaciones del usuario</h3>
        <p style="text-align: justify" class="texto">
          Son obligaciones del usuario: Operar de manera directa su buzón de
          correo electrónico. Informar a la entidad en el caso de que el usuario
          decida cambiar de dirección de correo electrónico para el proceso de
          notificaciones electrónicas. Reportar a esta Superintendencia
          cualquier inconveniente relacionado con el acceso al documento
          notificado, cuándo éste corresponda a posibles errores o defectos
          técnicos en su generación. En este caso, el error o defecto deberá
          informarse a la cuenta de correo webmaster@supersociedades.gov.co
          indicando expresamente el inconveniente presentado y adjuntado copia
          del mensaje de datos remitido por la entidad.
        </p>
    </div>
    <div>
      <h3 class="titulos">CUARTO: Autorización</h3>
      <p style="text-align: justify" class="texto">
        Para que se habilite a la Superintendencia de Sociedades a efectuar la
        notificación por medio electrónico cuyos términos y condiciones se
        encuentran descritos en el presente documento, el usuario deberá
        diligenciar y suscribir la plantilla de autorización que podrá encontrar
        en la siguiente dirección: Autorización de Notificaciones por medios
        electrónicos Una vez diligenciada deberá radicarla en la sede de la
        Superintendencia o remitirla a través del correo electrónico
        webmaster@supersociedades.gov.co. He leído y entendido perfectamente los
        términos y condiciones de uso de medios electrónicos para las
        notificaciones electrónicas de los administrativos proferidos por la
        Superintendencia de Sociedades.
      </p>
    </div>
  </div>
</div>
<div class="botones">
    <button class="cancelar" mat-raised-button mat-dialog-close (click)="cerrar()">Cancelar</button>
    <button class="guardar" mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>
</div>
<!--<div>
  <input
    class="p-checkbox"
    type="checkbox"
    (click)="showDialogTermCond($event)"
    [checked]="valueCheckBox"
    id="checkboxTermCond"
  />
  <label class="p-checkbox-label" for="checkboxTermCond"
    >Autorizo a la Superintendencia de Sociedades para el uso de mis datos
    personales según los términos y condiciones disponibles Aquí</label
  >
</div>
<p-confirmDialog #cd header="Términos & Condiciones" [breakpoints]="{'960px': '90vw'}" [style]="{ width: '75vw' }">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="De Acuerdo" (click)="cd.accept()" [disabled]="!enabledButtonConfirm"></button>
</ng-template>
</p-confirmDialog>-->
