



.body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 50%;
}

.titulos{
  font-family: Montserrat,sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #004884;
  line-height: 1.5 !important;
  text-align: left;
}

.texto{
  color: #0b7dda;
  font-family: "Work Sans",sans-serif;
  font-size: 13px;
}

.botones{
  text-align: right;
  margin-top: 2%;
}

.cancelar {
  border: none;
  background-color: #007bff;
  padding: 14px 28px;
  border-radius: 5px;
}
.guardar {
  margin-left: 20px;
  border: none;
  background-color: #007bff;
  padding: 14px 28px;
  border-radius: 5px;

}
hover {
  background: #0b7dda;
}

.header {
  color: #004884;
  position: fixed;
  text-align: center;

}

.scrollable-content {
  margin-top: 60px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: scroll;
}

.scrollable-content::-webkit-scrollbar-thumb {
  /* Estilo personalizado para el pulgar de la barra de desplazamiento (puede omitirse si no es necesario) */
  background-color: #888;
  border-radius: 6px;
}

:host {
  display: block;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
