/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

body app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.p-dropdown-item.p-ripple {
  white-space: normal;
}

input[type="file"] + label {
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline;
  padding: 0.7rem;
}

input[type="file"] + label:hover {
  background-color: #2563eb;
  border-color: #2563eb;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1.25vh;
  border: 1px solid #dee2e6;
  color: #6c757d;
  background: #f8f9fa;
  font-weight: 700;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}
